

#jstree ol {
  margin-top: 20px;
}

li {
  list-style-type: none;
  padding-top: 10px;
  font: 25px "Open Sans", Helvetica;
  font-weight: 350;
  text-transform: lowercase;
  color: #1d1a31;
}


.number {
  color: #844D9E !important;
}

.boolean {
  color: #30499B !important;
}

.string {
  color: #367ABD !important;
}

.date {
  color: #ffad64 !important;
}

.empty {
  opacity: 0.2 !important;
}

#object {
  padding-top: 10px;
  text-align: left !important;
  color: #30499B !important;
}

.panel {
  height: 100%;
}

