doctype
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet' href='/stylesheets/odometer-theme-default.css')
	body
		div.container3
			div.container2
				div.container1
					div.col1
						div.info#displayQuery
						div.info#displayProducts

					div.col2
						div.odometers
							h1#requests.odometer
							h1#occupied.odometer
							h1#interval.odometer
						canvas#chart.chart

					div.col3
						div.info#displayTweets

	footer
		script(src='https://cdn.jsdelivr.net/npm/moment@2.18.1/min/moment.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
		script(src="https://platform.twitter.com/widgets.js")
		script(src="/javascripts/odometer.min.js")
		script(src="/javascripts/homepage.js")


