doctype
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet' href='/stylesheets/odometer-theme-default.css')
	body
		canvas#chart.chart
			
		div.leftBar
			div.info#queryInfo
			div.info#products
			div.info#twitterInfo

		div.odometers
			h1#requests.odometer
			h1#occupied.odometer
			h1#interval.odometer

	footer
		script(src='https://cdn.jsdelivr.net/npm/moment@2.18.1/min/moment.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")
		script(src="https://platform.twitter.com/widgets.js")
		script(src="/javascripts/odometer.min.js")
		script(src="/javascripts/homepage.js")


