body {
  font: 23px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  background-color: #000000;
}

html { 
  height: 100%; 
}

.chart {
  height: 55% !important;
  width: 115% !important;
  left: -10% !important;
  margin: none !important;
  position: fixed;
  bottom: 0;
  z-index:1000;
  pointer-events: none;
}

.content {
  height: 100%;
  width: 100%;
}

.info {
  display: inline-block;
  color: white;
}

#twitterInfo {
  overflow-y: scroll;
  overflow-x: scroll;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
}

.queryInfo {
  padding: 15px;
}


.tweet {
  width: 440px;
}


.leftBar {
  width: 445px;
  height: 100%;
  background-color: #212121;
}

.info {
  width: 436px;
  padding: 5px;
  background-color: #303030;
  max-height: 100%;
}

.odometers {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 40%;
  transform: translate(-50%,-50%);
}

.odometer {
  color: white;
  font-size: 230px;
}

.complete, .collapse {
  background-color:#303030;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
  font-size:18px;
  padding:3px 15px;
  text-decoration:none;
}
.complete:hover, .collapse:hover {
  background-color:#424242;
}
.complete:active, .collapse:active {
  position:relative;
  top:1px;
}

