body {
  font: 23px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #000000;
}

/*.query {
  font: 23px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}

.file {
  font: 23px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: red;
}
*/


.chart {
  padding: none !important;
  margin: none !important;
  z-index:1000;
  pointer-events: none;
}


/*.tweet {
  width: 440px;
}*/


.container3 {
    float:left;
    width:100%;
    background:black;
    overflow:hidden;
    position:relative;
}
.container2 {
    float:left;
    width:100%;
    background:yellow;
    position:relative;
    right:30%;
}
.container1 {
    float:left;
    width:100%;
    background:red;
    position:relative;
    right:40%;
}
.col1 {
    float:left;
    width:26%;
    position:relative;
    left:72%;
    overflow:hidden;
}
.col2 {
    float:left;
    width:36%;
    position:relative;
    left:76%;
    overflow:hidden;
}
.col3 {
    float:left;
    width:26%;
    position:relative;
    left:80%;
    overflow:hidden;
}


.info {
  float: top;
  background-color: #303030;
  max-height: 100vh;
  overflow: auto;  
  overflow-y: scroll;
  color: white;
}

.odometers {
  margin: auto;
  width: 50%;
}

.odometer {
  color: white;
  font-size: 100px;
}