html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  padding: 35px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: white;
}

::-webkit-scrollbar {     
  background-color: transparent;
  width: .2em
}

::-webkit-scrollbar-thumb:window-inactive, ::-webkit-scrollbar-thumb {
  background:  black
}



/*.break {
  height: 300px;
  width: 400%;
  left: -120px;
  top: -20px;
  overflow: hidden;

  position: absolute;
  z-index: -3;

  transform-origin: 0 0;

  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  filter: grayscale(100%);
}*/

.break {
  height: 300px;
  width: 400%;
  left: 400%;
  top: 190px;
  overflow: hidden;

  position: absolute;
  z-index: -3;

  transform-origin: 0 0;

  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  animation: wave 12s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0) rotateZ(180deg);
  filter: grayscale(50%);
}


@keyframes wave {
  0% {  
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

a {
  text-transform: lowercase;
  font: 21px "Open Sans", Helvetica;
  color: #2F2C49;
}

p {
  font: 21px "Open Sans", Helvetica;
  font-weight: 400;
}

.gum {
  text-align: left;
  color: white;
  font: 60px "Open Sans", Helvetica;
  line-height: 0px;
  font-weight: 600;
}

.gumtext {
  padding: 0px;  
  color: white;
  text-align: left;
  font: 25px "Open Sans", Helvetica;
  font-weight: 600;
  width: 120%;
}

.frogEye {
  z-index: 5;
  filter: invert(100%);
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 350px;
}

